In [1]:
import pandas as pd
import psycopg2

In [2]:
# Connect to PostgreSQL using NEON_DATABASE_URL (do NOT hardcode credentials)
try:
    from dotenv import load_dotenv
    load_dotenv()
except Exception:
    pass

import os
import psycopg2

connection_url = os.environ.get('NEON_DATABASE_URL')
if not connection_url:
    raise RuntimeError("NEON_DATABASE_URL is not set. Add it to your environment or .env and re-run this cell.")

# psycopg2 accepts a connection string (DSN)
conn = psycopg2.connect(connection_url)

In [3]:
# Define a Helper Function to Run SQL and Return DataFrame

def run_query(sql):
    return pd.read_sql(sql, conn)

In [4]:
# Show all reviews
sql = "SELECT * FROM reviews;"

run_query(sql)

C:\Users\hp\AppData\Local\Temp\ipykernel_3956\1241105332.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql(sql, conn)

,review_id,bank_id,review_text,rating,review_date,source
0,3463230e-f9f7-4be3-a632-fdd8d017ce84,1,üôèüëç,5,2025-11-29,csv
1,a6cbfa34-f2b1-4a16-96b6-c94f58cea76f,1,Very Good,5,2025-11-28,csv
2,fc67d12c-92e2-45aa-a9e0-011f58a583bc,1,goof,5,2025-11-28,csv
3,11306fb9-5571-4950-8d32-604c5402242f,1,good!,5,2025-11-28,csv
4,809c46d2-730e-446a-9061-2a45e978ad9d,1,good jop,5,2025-11-27,csv
...,...,...,...,...,...,...
2095,d7b6c9eb-fb71-4fb5-bd27-0d4387aea517,2,Is not working,1,2025-01-25,csv
2096,ed4347fd-ddc7-401d-91ae-5fdd82dcf218,2,"Fast, reliable and user friendly. Amazing chat...",5,2025-01-24,csv
2097,3ab4ca6d-3d00-417c-93da-3eb40592a726,2,V good ‚ùóÔ∏è,5,2025-01-24,csv
2098,9b75d0d7-9840-4c6c-bf0f-5d0816e7644c,2,This app is literally the best thing ever The ...,5,2025-01-23,csv
2099,ee7cd878-3cf8-41b7-b8e9-e30c5db69704,2,I only see white page,2,2025-01-23,csv

In [5]:
# Show all banks
sql = "SELECT * FROM banks;"

run_query(sql)

C:\Users\hp\AppData\Local\Temp\ipykernel_3956\1241105332.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql(sql, conn)

   bank_id                    bank_name
0        1            Bank of Abyssinia
1        2                  Dashen Bank
2        3  Commercial Bank of Ethiopia

In [6]:
# Count reviews per bank
sql = """
SELECT b.bank_name, COUNT(*) AS total_reviews
FROM reviews r
JOIN banks b ON b.bank_id = r.bank_id
GROUP BY b.bank_name
ORDER BY total_reviews DESC;
"""

run_query(sql)

C:\Users\hp\AppData\Local\Temp\ipykernel_3956\1241105332.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql(sql, conn)

                     bank_name  total_reviews
0                  Dashen Bank            700
1            Bank of Abyssinia            700
2  Commercial Bank of Ethiopia            700

In [7]:
# Average rating per bank
sql = """
SELECT b.bank_name, ROUND(AVG(r.rating), 2) AS avg_rating
FROM reviews r
JOIN banks b ON b.bank_id = r.bank_id
GROUP BY b.bank_name
ORDER BY avg_rating DESC;
"""

run_query(sql)

C:\Users\hp\AppData\Local\Temp\ipykernel_3956\1241105332.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql(sql, conn)

                     bank_name  avg_rating
0                  Dashen Bank        4.16
1  Commercial Bank of Ethiopia        4.12
2            Bank of Abyssinia        3.11